
.hero-section {
    position: relative;
    height: auto; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDFBF6;
    z-index: 1;
    margin-bottom: 20px; 
  }

.me-container {
    position: relative;
    z-index: 1;
}

#me {
    margin-top: 5%;
    transform: translateY(10%);
    transition: all 0.3s ease;
    scale: 0.8;
    width: 40rem;
    height: 40rem;  
    z-index: 2;
    position: relative;
  }

@media (min-width: 768px) {
  #me {
    scale: 1.2; 
  }
}
  
