.Homepage {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Larsseit', sans-serif; /* Example font */
    color: black; /* Default text color */
    background-color: #f4f4f4; /* Background color */
}

.homePage-container {
    overflow-x: hidden;
    align-items: center;
    display: flex;
    flex-direction: column; /* To align sections vertically */
}
